<h2 class="headers">Welcome to FullStackerBlog</h2>
<div class="content">
  <ul style="list-style: none"=>
    <% @blogs.each do |blog| %>
    <li class="posts"><%= link_to  blog.title, blog_path(blog.id), method: :get  %></li>
    <% end %>
  </ul>
</div> 
<div class="actionButtons"> <%= button_to 'Create new blog post', new_path, method: :get%> </div>