<h2>Welcome to FullStackerBlog</h2>

<ul>
  <% @blogs.each do |blog| %>
  <li><%= link_to  blog.title, show_path(blog.id)  %></li>
  <% end %>
</ul>
<h4><%= link_to 'Create new blog post', new_path %>
</h4>