/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  text-align: center;
  background-color: #826251;
  background-image: url("https://images.unsplash.com/photo-1541288097308-7b8e3f58c4c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  height: 100%;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.headers {
  color: cornsilk;
}

/* .content {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
  color: cornsilk;
  text-decoration: none;
} */

.actionButtons {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
  color: cornsilk;
  text-decoration: none;
}

.posts {
  display: flex;
  flex-direction: column;
  background-color: #68c3d4;
  color: black;
  padding: 14px 14px;
  font-size: 24px;
  border-radius: 25px;
  height: 150px;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

button {
  background-color: #568ea3;
  color: black;
  padding: 14px 14px;
  font-size: 24px;
  border-radius: 5px;
  height: 50px;
  width: 30%;
  outline-color: #68c3d4;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#newTitle {
  margin: 10px;
}
.formLabel {
  margin: 10px;
  background-color: aliceblue;
  border: 1px, black;
  padding: 5px;
}

.formField {
  text-align: left;
  height: 100px;
  width: 200px;
}
